body {
  font-family: sans-serif;
}
@media all and (max-width:575px){

  .scrolling-bg{

    display: block;
    height: 590px;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-image: url(../images/scroll.jpeg);
    
    
    
  }

}
@media all  and (min-width:576px) and (max-width:991px){

  .navbar {
    width: 100%;
    position: absolute;
    z-index: 6;
  }
  .clients-bg {
  
    height: fit-content;
  
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 238, 225, 1) 0%, rgb(140, 230, 230) 40%, rgba(0, 255, 255, 0.08) 40%, rgba(0, 255, 255, 0.1) 100%);
  }
  .carousal-caption-costum {

    left: 11% !important;
    bottom: 8.25rem !important;
    text-align: left !important;
  
  }
  .blue-box1{
  
    left: 17%;
    top: 30%;
    width: 250px;
    display: block;
    font-size: small;
    background-color: rgb(117, 221, 244) ;
   
  }
  .scrolling-bg{

    display: block;
    height: 590px;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-image: url(../images/scroll.jpeg);
    
    
    
  }
}
@media all and (min-width:992px) and (max-width:1199px) {
  .navbar {
    width: 94%;
    position: absolute;
    left: 3%;
    z-index: 6;
  }
  .clients-bg {
  
    height: fit-content;
  
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 238, 225, 1) 0%, rgb(140, 230, 230) 40%, rgba(0, 255, 255, 0.08) 40%, rgba(0, 255, 255, 0.1) 100%);
  }
  .carousal-caption-costum {

  left: 11% !important;
  bottom: 14.25rem !important;
  text-align: left !important;

}
.blue-box1{
  
  left: 9%;
  top: 33%;
  width: 250px;
  display: block;
  font-size: small;
  background-color: rgb(117, 221, 244) ;
 
}
.scrolling-bg{

  display: block;
  height: 230px;
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-image: url(../images/scroll.jpeg);
  
  
  
}
}

@media all and (min-width:1201px) {
  .navbar {
    width: 80%;
    position: absolute;
    left: 10%;
    z-index: 6;
    top: 50px;

  }
  .clients-bg {
  
    height: fit-content;
  
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 238, 225, 1) 0%, rgb(140, 230, 230) 40%, rgba(0, 255, 255, 0.08) 40%, rgba(0, 255, 255, 0.1) 100%);
  }
  .carousal-caption-costum {

  left: 11% !important;
  bottom: 14.25rem !important;
  text-align: left !important;

}
.blue-box1{
  
  left: 23%;
  top: 20%;
  width: 250px;
  display: block;
  font-size: small;
  background-color: rgb(117, 221, 244) ;
 
}
.scrolling-bg{

  display: block;
  height: 230px;
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-image: url(../images/scroll.jpeg);
  
  
  
}
}

.info-container {
  top: 10px;
  left: 11%;
  width: 78%;
  position: absolute;
  z-index: 6;
}

.text-costum a {
  font-size: 12px;
}

.text-costum span {
  font-size: 12px;
}



.btn-costum{
 font-size:11px !important;
}
.btn-costum:hover {
  
  color: rgb(2, 2, 105)!important;
  background-color: rgb(255, 255, 255) !important;

}


.logo1 {

  font-size: 30px;
  font-weight: bolder;
  color: rgb(12, 28, 153);
  

}

.logo2 {

  font-size: 25px;
  font-weight: bolder;
  color: rgb(68, 153, 238);
}

.custom-nav-item {

  font-weight: bold;
  color: rgb(8, 8, 139);

}

.cards-bg {

  background-color: rgba(190, 233, 251, 0.435);
}

.cards-heading {
  font-size: larger;
  font-weight: 600;
  color: rgb(14, 14, 166);
}

.costum-text {
  font-size: 15px;
  font-weight: 500;
  color: rgba(105, 105, 105, 0.658);
  width: 180px;
  height: 120px;
}


.form-bg {

  background-image: linear-gradient(to bottom right, rgba(255, 238, 225, 1), rgb(63, 225, 209));
}



.apointment-button {

  width: 90%;
  background-color: darkblue;
}

.welcome {
  display: block;
  height: 80px;
  line-height: 80px;
  margin-top: -40px;
  margin-bottom: -5px;
  color: rgb(57, 224, 224);
  font-weight: bold;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Dc-heading-card {
  
  font-size:medium;
  color: rgb(53, 61, 144);
  font-weight: 600;
  margin: 10px;

}
.Dc-heading-2{

  font-weight: 800;
  font-size:11px ;
  color: rgb(57, 224, 224);
}

.animate-img {
  margin-top: auto;
  transition: ease-out 1s;
}

.animate-img:hover {
  margin-top: -10px;
}

.icons {
  font-size: 12px ;
  width: 26px;
  height: 26px;
  padding: 8px;
  
  background-color: rgb(57, 224, 224);
}


.card-star{
  
  padding-top: 3px;
  display: block;
  width: 100%;
  height: 100%;
}
.card-star p{
  font-size: small;
}
.star{
  padding:1px;
  font-size: x-small;
}
.card-star-second-heading{
  
  width: 160px;  
  font-size: 10px;
  color: rgba(70, 221, 221, 0.725);
}
.our-blog-bg-img1{
 
  display: block;
  margin:0px ;
  width: 100%;
  height:100%;
  
  background-position: inherit;
  background-repeat: no-repeat;
  background-image: url('../images/our-blog-first.jpg');
  
}
.our-blog-bg-img2{
 
  display: block;
  margin:0px ;
  width: 100%;
  height:100%;
  
  background-position: inherit;
  background-repeat: no-repeat;
  background-image: url('../images/our-blog-img-second.jpg');
  
}
.our-blog-bg-img3{
 
  display: block;
  margin:0px ;
  width: 100%;
  height:100%;
  
  background-position: inherit;
  background-repeat: no-repeat;
  background-image: url('../images/our-blog-third.jpg');
  
 
}

.blue-box1 a{

  margin: 2%;
  text-decoration: none;
  color: white;
  
}
.cards-bottom{


  font-size: large;
  color: rgb(53, 61, 144);
  font-weight: 600;
}

.icons-footer {

  font-size: small;
  background-color: rgba(72, 206, 236, 0.725) ;
  padding-left: 0%;
  cursor: pointer;
  padding: 3%;
  margin: 3%;

}

.icons-footer-facebook {
  font-size: small;
  background-color: rgba(72, 206, 236, 0.725) ;
  cursor: pointer;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 3%;
}

.ul-design {

  list-style-type: none ;
}

.footer-text{
  
  color: rgb(66, 72, 113);
  font-size: 14px !important;

}

